@import url("styles/_text.css");
@import url("styles/_colors.css");
@import url("styles/_buttons.css");

:root{
    --bs-breadcrumb-divider: '>'
}

.bg-primary{
    background-color: var(--primary-background-color);
}
.bg-secondary{
    background-color: var(--secondary-backgorund-color);
}
.bg-terciary{
    background-color: var(--terciary-background-color);
}
.bg-accent{
    background-color: var(--accent-background-color);
}

.text-primary{
    color: var(--primary-text-color);
}
.text-secondary{
    color: var(--secondary-text-color);
}
.text-terciary{
    color: var(--terciary-text-color);
}
.text-accent {
    color: var(--accent-text-color);
}


/*Geral*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: var(--primary-text-color);
}
a:hover{
    color: var(--accent-text-color);
}

/*Hero Section (Imagem na página de entrada)*/
#hero{
    background-image: url('/img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 3;
}
#hero > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600; /*semi-bold*/
    max-width: 15ch;
}

/*Sidebar*/
aside {
    min-width: 250px;
}
aside ul {
    width: fit-content;
}
aside li {
    font-size: var(--txt-s-size);
    text-transform: uppercase;
    color: var(--terciary-text-color);
}
aside a {
    color: var(--terciary-text-color);
}
aside a:hover {
    color: var(--secondary-text-color);
}
aside a.active {
    color: var(--secondary-text-color);
}

/*Material Breadcrumbs override*/
.breadcrumb{
    margin: 0;
    padding: 0;
}

.breadcrumb-item + .active {
    font-weight: 500;
}

/*Título da Página*/
.page-title{
    font-size: var(--txt-xl-size);
    font-weight: 500;
    font-family: var(--primary-font-family);
}