@import url("styles/_text.css");
@import url("styles/_colors.css");
@import url("styles/_buttons.css");
@import url("styles/_borders.css");
@import url("styles/_selects.css");

@import url("layouts/_main.css");

@import url("components/_searchbox.css");
@import url("components/_checkbox.css");
@import url("components/_sidebar.css");
@import url("components/_header.css");

:root {
    --bs-breadcrumb-divider: ">";
}

.bg-primary {
    background-color: var(--primary-background-color);
}
.bg-secondary {
    background-color: var(--secondary-background-color);
}
.bg-terciary {
    background-color: var(--terciary-background-color);
}
.bg-accent {
    background-color: var(--accent-background-color);
}

.text-primary {
    color: var(--primary-text-color);
}
.text-secondary {
    color: var(--secondary-text-color);
}
.text-terciary {
    color: var(--terciary-text-color);
}
.text-accent {
    color: var(--accent-text-color);
}

/*Geral*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: var(--primary-text-color);
}
a:hover {
    color: var(--accent-text-color);
}

select {
    margin: 0;
    padding: 0;
}
label {
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}
legend {
    font-size: var(--txt-s-size);
    font-weight: 500;
    margin: 0;
}

/*Hero Section (Imagem na página de entrada)*/
#hero {
    background-image: url("/img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 3;
}
#hero > h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 600; /*semi-bold*/
    max-width: 15ch;
}

/*Material Breadcrumbs override*/
.breadcrumb {
    margin: 0;
    padding: 0;
}

.breadcrumb-item + .active {
    font-weight: 500;
}

/*Título da Página*/
.page-title {
    font-size: var(--txt-xl-size);
    font-weight: 500;
    font-family: var(--primary-font-family);
}

/*Cards*/
#card-grid {
    margin-top: 3rem;
}
.card {
    width: max(300px, 30%);
    max-width: 500px;
}

/*Button Material override*/
.btn-primary {
    background-color: var(--primary-background-color);
}

/*Border Material override*/
.border-primary {
    border-color: var(--primary-text-color);
}
.border-primary:hover,
.border-primary:focus,
.border-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--accent-background-color);
    border-color: var(--accent-background-color);
    color: var(--secondary-text-color);
}

/*Tabelas*/
thead tr th {
    font-size: var(--txt-m-size);
    font-weight: 500;
    padding: 5px;
}
tbody tr td,
tbody tr th {
    padding: 5px;
}
tbody tr:hover {
    background-color: var(--accent-background-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

/*Horário Semanal*/
#schedule-grid {
    max-width: max-content;
    display: grid;
    grid-template-columns: minmax(1.5em, 1fr) repeat(6, minmax(1.5em, 1fr));
    grid-template-rows: repeat(3, auto);
    align-content: center;
    gap: 0.3em;
}
#schedule-grid p {
    font-weight: 500;
    font-size: var(--txt-m-size);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*Seleciona primeira linha de elementos (dias da semana)*/
#schedule-grid p:not(:nth-child(7) ~ p) {
    text-align: center;
}
/*Seleciona primeira coluna (blocos do dia)*/
#schedule-grid p:nth-child(8),
#schedule-grid p:nth-child(15),
#schedule-grid p:nth-child(22) {
    align-self: center;
}
#schedule-grid label {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1em;
    color: var(--secondary-text-color);
}
#schedule-grid label > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
#schedule-grid input[type="checkbox"] {
    align-self: center;
    justify-self: center;

    appearance: none;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    outline: none;
    border-radius: 0;

    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-text-color);
}
#schedule-grid input[type="checkbox"]:hover {
    cursor: pointer;
    background-color: var(--primary-backgorund-color);
    border-width: 3px;
    border-color: var(--accent-background-color);
}
#schedule-grid input[type="checkbox"]:checked {
    background-color: var(--accent-background-color);
    border-color: var(--accent-background-color);
}
#schedule-grid input[type="checkbox"]:focus {
    outline: 2px solid var(--secondary-background-color);
}
#schedule-grid input[type="checkbox"]:disabled {
    background-color: var(--terciary-background-color);
    border: none;
}
#schedule-grid input[type="checkbox"]:disabled + i {
    color: var(--terciary-background-color);
}
#schedule-grid input[type="checkbox"]:checked:disabled {
    background-color: var(--accent-background-color);
}
#schedule-grid input[type="checkbox"]:checked:disabled + i {
    color: var(--secondary-text-color);
}

@media (max-width: 767px) {
    #schedule-grid p {
        font-weight: 500;
        font-size: var(--txt-s-size);
    }
}

/*Grelha de Inputs para laboratórios em Restrições*/
.lab-select-grid {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.class-sub-form-container p {
    font-size: var(--txt-s-size);
    font-weight: 300;
}
.class-fieldset-heading {
    font-size: var(--txt-m-size);
    font-weight: 500;
}
.lab-requirement-type-container > div {
    background-color: var(--primary-background-color);
    border: 1px solid var(--accent-background-color);
    color: var(--primary-text-color);
    padding: 8px 16px;
    font-size: var(--txt-m-size);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    margin-bottom: 0.4em;
}

/*Form editar UC*/
/* #edit-uc-form > fieldset > div{
    display: flex;
    gap: 2em;
    align-items: center;
    padding: 1em;
    border: 1px solid var(--terciary-text-color);
    margin-bottom: 1px;
}
#edit-uc-form > fieldset > div > *:first-child{
    min-width: 10em;
}
#edit-uc-form > div:first-of-type {
    padding: 0.5em 0;
} */

#ua-logo-header-container {
    cursor: pointer;
}

#titulo-pagina-inicial {
    cursor: pointer;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

/*Abas em Gerir Dados - override do Material Dashboard*/

.nav-tabs {
    border: 0;
    gap: 1rem;
}
.nav-link {
    color: var(--primary-text-color);
    transition: none;
    font-family: var(--primary-font-family);
    margin: 0;
}
.nav-tabs .nav-link {
    border-radius: 0;
    border-bottom: 2px solid var(--terciary-background-color);
}
.nav-tabs .nav-link.active {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    border: 0;
    border-bottom: 2px solid var(--accent-background-color);
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: var(--primary-text-color);
    border: 0;
    border-bottom: 2px solid var(--accent-background-color);
}
