.btn {
    display: block;
    width: fit-content;
    min-width: 5rem;
    max-width: 10rem;
    margin: 0;
    padding: 0.5rem 1em;
    border: 1px solid var(--accent-background-color);
    border-radius: 0;
    color: var(--accent-background-color);
    background-color: var(--primary-background-color);
    outline: none;
    box-shadow: none;
    text-shadow: none;
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: var(--txt-s-size);
    text-transform: capitalize;

    transition: none;
}


.btn:focus, .btnCancelar:focus {
    outline: 1px solid var(--primary-text-color);
}
.btn:active,
.btn:hover {
    border-color: var(--accent-background-color);
    background-color: var(--accent-background-color);
    color: var(--secondary-text-color);
}

.btn.remover{
    border-color: var(--remove-background-color);
    color: var(--remove-background-color); 
}
.btn.cancelar{
    border-color: var(--cancel-background-color);
    color: var(--cancel-background-color);   
}
.btn.reset{
    border-color: var(--reset-background-color);
    color: var(--reset-background-color);   
}

.btn.remover:hover,.btn.remover:active
{
    border-color: var(--remove-background-color);
    background-color: var(--remove-background-color);
    color: var(--secondary-text-color);    
}
.btn.cancelar:hover,.btn.cancelar:active
{
    border-color: var(--cancel-background-color);
    background-color: var(--cancel-background-color);
    color: var(--secondary-text-color);
}
.btn.reset:hover,.btn.reset:active
{
    border-color: var(--reset-background-color);
    background-color: var(--reset-background-color);
    color: var(--secondary-text-color);
}

/*Reset Material Dashboard Button*/
.btn:active, .btnCancelar:active {
    box-shadow: none;
    opacity: 1;
}
.btn:focus, .btnCancelar:focus {
    box-shadow: none;
}
