:root{
    --primary-text-color: #292929;
    --secondary-text-color: #fff;
    --terciary-text-color: #757575;
    --accent-text-color: #95CA3D;

    --primary-background-color: #fff;
    --secondary-background-color: #292929;
    --terciary-background-color: #D3D3D3;
    --accent-background-color: #0EB4BD;

    --accent-background-color-light: #0EB4BD45;

    --cancel-background-color:  #6c757d;
    --remove-background-color: rgba(219, 40, 40, 0.7);
    --reset-background-color: #d9d9d9;
}