/*Layout*/
#primary-layout {
    display: grid;
    grid-template-areas:
        "login-bar login-bar"
        "header header"
        "sidebar main-content";

    grid-template-columns: minmax(auto, max-content) 1fr;
    grid-template-rows: auto auto 1fr;
    min-height: 100dvh;
    gap: 0;
    padding: 0;
    margin: 0;
}

#login-bar {
    grid-area: login-bar;
}

#header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: main-content;
    background-color: var(--primary-background-color);
    max-width: 100rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (max-width: 900px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 550px) {
    main {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*Layout for */
@media (max-width: 767px) {
    #primary-layout {
        grid-template-areas:
            "login-bar"
            "header"
            "main-content";
        grid-template-columns: 100%;
        grid-template-rows: auto auto 1fr;
    }

    aside {
        grid-area: main-content;
        z-index: -1;
    }
    aside.show {
        z-index: 1;
    }
}
